<!-- footer section start -->
<div class="container-fluid">
    <footer class="row footer bg-dark">
        <div class="col-12 col-sm-12 col-lg-12 text-light">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-4 col-sm-2 col-1"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-11">
                    <div class="row">
                        <div class="col-lg-5 col-md-4 col-12 border-end border-danger">
                            <h5 class="text-danger">Sign up for offers</h5>
                            <p>
                                Sign up for our newsletter to receive <span class="d-block"></span> exclusive offers &
                                discounts!
                            </p>
                        </div>
                        <div class="col-lg-7 col-md-8 col-12 d-flex align-items-center justify-content-start position-relative">
                            <input type="text" class="form-control rounded-pill bg-light opacity-25 w-50"
                                   placeholder="Your email address...">
                            <button class="text-light rounded-pill position-absolute top-10 end-50 me-2 bg-danger opacity-75 border-0">
                                <i class="fa fa-envelope-o fa-lg px-3 py-1 m-auto"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text-start py-4 fw-light ps-4">
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                        <img src="/image/logo-white_170x.png" alt="logo-white" class="img-fluid">
                        <p>
                            If you have any question, please contact us at <span class="d-block"></span>
                            support@gmail.com
                        </p>
                        <ul>
                            <li class="d-inline">
                                <i class="fa fa-facebook-square px-3"></i>
                                <i class="fa fa-instagram px-3"></i>
                                <i class="fa fa-twitter-square px-3"></i>
                                <i class="fa fa-pinterest-square px-3"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                        <h5>Corporate</h5>
                        <ul class="list-unstyled">
                            <li>Careers</li>
                            <li>About Us</li>
                            <li>Contact Us</li>
                            <li>FAQs</li>
                            <li>Vendors</li>
                            <li>Affiliate Programs</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                        <h5>Information</h5>
                        <ul class="list-unstyled">
                            <li>OnlineStores</li>
                            <li>Privacy Policy</li>
                            <li>Refund Policy</li>
                            <li>Shipping Policy</li>
                            <li>Terms of Service</li>
                            <li>Track Order</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                        <h5>Services</h5>
                        <ul class="list-unstyled">
                            <li>Grooming</li>
                            <li>Positive Dog Training</li>
                            <li>Vetenary Services</li>
                            <li>Petco Insurances</li>
                            <li>Pet Adoption</li>
                            <li>Resource Center</li>
                        </ul>
                    </div>
                    <hr>
                    <!-- copyright section -->
                    <div class="col-lg-6 col-12">
                        <h6>© 2021 Petio Pets Store</h6>
                    </div>
                    <!-- payment section -->
                    <div class="col-lg-6 col-12 d-flex justify-content-end">
                        <img src="/image/paymet-1.png" alt="payment card img">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- footer section end -->